/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap");

body {
  line-height: 1.8;
  color: #2C74B3;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;

  color: #0A2647;
}

a {
  font-weight: 700;
  transition: all 0.4s ease;
}
img {
  width: 100%;
}
small {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.navbar .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #144272;
}

/* Home Page */
.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0A2647 !important;
}
#home {
  display: flex;
  align-items: center;
}

#btnpersonal,
#btnbusiness {
  border-radius: 50px;
  background-color: #301e67;
  color: white;
}
#home h1 {
  font-weight: 800;
  margin-top: 70px;
  margin-bottom: 20px;
}
#home p {
  max-width: 550px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 170px;
  margin-right: 170px;
}
.btn {
  padding: 12px 28px;
}




/* Features section */
.section-intro {
  text-align: center;
  margin-bottom: 60px;
}
.section-intro .hline {
  width: 120px;
  height: 2px;
  background-color: rgba(8, 8, 8, 0.116);
  margin: 16px auto 0 auto;
}
#features {
  padding: 5% 10%;
}
.feature-box {
  text-align: center;
  padding top:20px ;
}


/* Testimonials Section */
 #testimonials {
     padding: 7% 15%;
     text-align: center;
     background-color:#2C74B3;
     color: #0A2647;


}


#testimonials img {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  transition: all 0.4s ease;
}

#testimonials .nav-pills .nav-link.active {
  background-color: transparent;
}

#testimonials .nav-pills .nav-link.active img {
  transform: scale(1.3);
}

.review .stars {
  color: #0A2647;
}

.review p {
  max-width: 720px;
  margin: 24px auto;
  font-style: italic;
}


.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a,
footer .social-icons a {
  color: #2C74B3;
}

footer .social-icons a {
  font-size: 24px;
}

footer .footer-links a {
  display: block;
  font-weight: 400;
}

footer .social-icons a:hover,
footer .footer-links a:hover {
  color: #301e67;
}

a{
  text-decoration: none;
}
.fa-solid{
  padding: 20px;

}
.fa-star{
  padding: 5px;
}