/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
  line-height: 1.8;
  color: #2C74B3;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;

  color: #0A2647;
}

a {
  font-weight: 700;
  transition: all 0.4s ease;
}
img {
  width: 100%;
}
small {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.navbar .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #144272;
}

/* Home Page */
.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0A2647 !important;
}
#home {
  background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)), url(../static/bg.jpg);
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
  display: flex;
  align-items: center;
}

#btnpersonal,
#btnbusiness {
  border-radius: 50px;
  color: white;
  margin-top: 10px;
}
#btnpersonal{
  margin-right: 10px;
}
#btnbusiness{
  margin-left: 10px;
}
#home h1 {
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Tilt Warp', cursive;
}
#home p {
  max-width: 550px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 170px;
  margin-right: 170px;
  color: whitesmoke;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
}
.btn {
  padding: 12px 28px;
}

/* Features section */
.section-intro {
  text-align: center;
  margin-bottom: 60px;
}
.section-intro .hline {
  width: 120px;
  height: 2px;
  background-color: rgba(8, 8, 8, 0.116);
  margin: 16px auto 0 auto;
}
#features {
  padding: 5% 10%;
}
.feature-box {
  text-align: center;
  padding-top:20px ;
}
.feature-card p{
line-height: 22px;
font-size: 15px;
}

.feature-card h5{
  font-family: Arial, Helvetica, sans-serif;
}


/* Testimonials Section */
 #testimonials {
     padding: 7% 15%;
     text-align: center;
     background-color:#0A2647;
     color: #144272;
     box-sizing: border-box;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;}

.swiper{
width: 950px;

} 


.box{
  position: relative;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;

}

section .card .testimage{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background:#144272 ;
  
}
section .card .testimage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.4s ease; 
}

.card{
  position: relative;
  border-radius: 20px;
  background: #fff;
  
}
.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width:100% ;
  background: #144272;
  border-radius: 20px 20px 0  0;
}
.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index:100 ;

}
.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.card .media-icons i {
  color: white;
  margin-top:10px ;
  transition: all 0.3s ease;
  cursor: pointer;

}

.card .media-icons i:hover{
 
  color: #0A2647;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:10px ;
  color: #333;

}

.name-profession .name{
  font-size: 20px ;
  font-weight:600 ;
  margin-top: 40px;
}
.name-profession .profession{
  font-size: 15px ;
  font-weight:500 ;
}
.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;

}

.card .rating i {
  color:#144272 ;
  font-size:18px;
  margin-bottom: 10px;

 
}

.card .button{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px ;
}
.card .testbutton button{
  background:#2C74B3 ;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size:14px ;
  transition: all 0.3s ease;
  cursor: pointer;


}
.testbutton button:hover{
background: #0A2647;}


/* #testimonials img {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  transition: all 0.4s ease; */




.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a,
footer .social-icons a {
  color: #2C74B3;
}

footer .social-icons a {
  font-size: 24px;
}

footer .footer-links a {
  display: block;
  font-weight: 400;
}

footer .social-icons a:hover,
footer .footer-links a:hover {
  color: #301e67;
}

a{
  text-decoration: none;
}
.fa-solid{
  padding: 20px;

}
.fa-star{
  padding: 5px;
}